:local {
  .search-button {
    position: fixed;
    left: calc(50% - 2rem);
    bottom: 1.5rem;
    font-size: 2rem;
    width: 4rem;
    height: 4rem;
    line-height: 3.6rem;
    text-align: center;
    background: #DDDDDD;
    border: .2rem solid white;
    border-radius: 4rem;
    overflow: hidden;
  }
}
